/staticfiles/*
/static_media/dist/node_modules
/media/*
/static/*
/back_media/*
/back_static/*
/.idea/*
/.env
**/migrations/0**
/db.sqlite3
.venv/*
*/__pacache__/*
db.sqlite3
.env
.idea/
back_media/
static/
media/
venv/
*.pyc